.contacts {
  display: inline-block;

  display: flex;
  position: relative;
  height: calc(100vh - (70px));
}
.contacts__pizza--image {
  display: flex;
  width: 100%;
  height: 100%;
  display: block;
  background-image: url(../../assets/pizzaReverse.png);
  background-repeat: no-repeat;

  background-size: 70%;

  background-position-x: center;
  background-position-y: top;
  z-index: 2;
}

.contacts__main-text {
  display: flex;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  bottom: calc(-100vh / 2);
}
.contacts__main-text h1 {
  font-family: Quattrocento;
  font-weight: bold;
  font-size: calc(24px + 48 * (100vw / 1280));
}

.contacts__main-text--second {
  width: 80%;
  text-align: center;
}

.contacts__main-text--link {
  display: flex;
  justify-content: center;
  text-align: center;
}
.contacts__main-text--link img {
  padding-inline: 1em;
  cursor: pointer;
}
.contacts__main-text--link img:hover {
  transform: scale(0.9);
}
#face {
  height: 65px;

  /* height: calc(45px + 20 * (100vw / 1280)); */
  width: calc(60px + 25 * (100vw / 1280));
}
#inst {
  height: 65px;

  width: 65px;
}
#whatsup {
  height: 65px;
  width: 65px;
}
@media (max-width: 820px) {
  .contacts__pizza--image {
    background-size: 90%;
  }

  .contacts__main-text h1 {
    font-size: calc(36px + (36+36 * 0.7) * ((100vw - 280px) / 1280));
  }
}

@media (max-width: 1279px) {
  .contacts__main-text h1 {
    font-size: calc(36px + (36+ 36 * 0.7) * ((100vw - 280px) / 1280));
  }
}

@media (max-width: 412px) {
  .contacts__pizza--image {
    background-size: 110%;
  }
}
