.navBar {
  background-color: black;
  height: 70px;
  color: white;
  display: flex;
  justify-content: space-between;
  padding-inline: 1em;
  font-size: calc(16px + 2 * ((100vw) / 1280));
  align-items: center;
  position: relative;
  z-index: 3;
}
.navBar__navigation {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navBar__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.navBar__navigation p {
  padding: 1em;
  cursor: pointer;
}
.navBar__navigation p:hover {
  background-color: white;
  color: black;
  border-radius: 1em;
}
.navBar__logo:hover {
  transform: scale(1.2);
}
.navBar__navigation--drop {
  display: none;
  position: absolute;
  right: 0;
  margin-right: 1rem;
  top: 75px;
  background: black;
  border: 3px solid white;
  border-radius: 15%;
  text-align: center;
  z-index: 3;
}
.navBar__navigation--drop p {
  cursor: pointer;
  position: relative;
  z-index: 1;
  padding: 0.2rem;
}
.navBar__navigation--drop p:hover {
  background-color: white;
  color: black;
  border-radius: 1em;
}

.navBar__navigation--drop .active {
  display: block;
}
.navBar::after {
  width: 100vw;
  height: 100vh;
}
@media (max-width: 820px) {
  .navBar__navigation {
    display: none;
  }
}
